<%- include('partials/header.ejs') %>
  <body>
    <%- include('partials/menu.ejs') %>
    <div class="below_nav flex">
      <div class="flex_item portrait">
        <img src="resources/img/pic4.JPG" id="portraitImg" alt="A picture of me" width="370">
      </div>
      <div class="flex_item">
        <div>
          <h1 class="display-5 name">Zachary Baker</h1>
          <h3 class="subtitle">Developer & Designer</h3>
        </div>
        <div class="textbox">
          <p>
            Hi! I'm Zack, a freshman at the University of Colorado, Boulder. This my development 
            and design portfolio, feel free to have a look around!
          </p>
        </div>
        <hr>
      </div>
    </div>
  </body>
</html>
