<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Zack's Webpage</title>
      <!--BOOTSTRAP, STYLESHEET, AND JAVASCRIPT-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
      <link rel="stylesheet" href="../resources/css/global_style.css">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="../resources/js/scripts.js"></script>
  </head>
  <body onload="changeImage()">
    <nav class="navbar navbar-expand-lg narvar-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link link_navbar" href="index.html">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle custom_link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Assignments
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="assignment3.html">Assignment 3: Encyclopedia</a></li>
            <li><a class="dropdown-item" href="assignment4.html">Assignment 4: Challenges</a></li>
            <li><a class="dropdown-item" href="assignment5.html">Assignment 5: Challenges Redux</a></li>
          </ul>
        </li>
      </ul>
      <div class="github_logo">
        <a class="navbar-brand" href="https://github.com/zacharyjbaker">
          <img src="../resources/img/GitHub-Mark-64px.png" width="30" alt="GitHub Octocat Icon">
        </a>
      </div>
  	</nav>
    <!--<div>
      <img class="followImg" id="follow" src = "../resources/img/corgi.JPG">
    </div>-->
    <div class="below_nav">
      <div class="container d-flex justify-content-center">
        <img class="portrait" src="../resources/img/pic2.JPG" id="portraitImg" alt="A picture of me" width="370;">
      </div>
      <div class="container">
        <div class="d-flex justify-content-center">
          <h1 class="display-5">Zachary Baker</h1>
        </div>
        <div class="d-flex justify-content-center">
          <h3>he/him/his</h3>
        </div>
        <hr>
        <div class="d-flex justify-content-center subheader">
          <h2>About Me</h2>
        </div>
        <div>
          <p>My main goal in this course is to learn and become comfortable with
            HTML, CSS, and Javascript, and learn tenants of good web design. I
            hope that these skills will help me in my personal design and computer science career.
          </p>
          <p>I grew up in Longmont, Colorado, and currently I'm a freshman at the University of Colorado,
            Boulder. I'm a creative technology & design and computer science double major.
            I love tabletop and video games, cooking, and doing creative work; and I hope to make a
            career where I can use my creativity to make the things I want.
          </p>
        </div>
        <hr>
        <div class="container"></div>
          <div class="d-flex justify-content-center subheader">
            <h4>My Links</h4>
          </div>
          <section class="mb-4 text-center">
            <a class="socialLink" href="https://www.linkedin.com/in/zachary-baker-926162232/">
              <img src="../resources/img/Linkedin-Logo.PNG" width="100" alt="Linkedin Icon">
            </a>
            <a class="socialLink" class="navbar-brand" href="https://github.com/zacharyjbaker">
              <img src="../resources/img/GitHub-Mark-64px.png" width="30" alt="GitHub Octocat Icon">
            </a>
            <a class="socialLink" class="navbar-brand" href="https://csci-3308-spring22-012-3.atlassian.net/jira/people/61f1da9f25edab006a1d271d">
              <img src="../resources/img/atlassian_jira_logo_icon_170511.PNG" width="30" alt="Jira Icon">
            </a>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
