body
{
    background-color: #BDCFDE;
    font-family: 'Roboto Mono';
}

/* NAVBAR */
.navbar 
{
    background-color: #454959; 
    margin-left: 0px;
    text-indent: 15px;
}

/* LINK STYLE */
a.link_navbar:link { color:#FFF; text-decoration:none; font-weight:normal; }
a.link_navbar:visited { color: #FFF; text-decoration:none; font-weight:normal; }
a.link_navbar:hover { color: #FFF; text-decoration:none; font-weight:normal; }
a.link_navbar:active { color: #FFF; text-decoration:none; font-weight:normal; }

/* BOOTSTRAP OVERRIDE */
.custom_link{ color: white !important; }

/* GITHUB LOGO and LINK */
.github_logo
{
    right: 0; 
    position: absolute;
}

/* NAVBAR END */

.below_nav
{
    margin: 8px;
}

table, tr, th, td
{
table-layout: fixed;
width: 40px;
height: 40px;
border-width: 1px;
border-style: solid;
border-color: black;
font-family: Arial, sans-serif;
text-align: center;
font-size: 35px;
overflow: hidden;
word-break: normal;
border-collapse: collapse;
border-spacing: 0px;
text-align: center;
vertical-align: center
}
.tg-8m24
{
table-layout: fixed;
background-color: lightgrey;
border-collapse: collapse;
border-spacing: 0px;
border-style: none;
border-color: black;
}
.tg-0lax
{
table-layout: fixed;
border-collapse: collapse;
border-color: black;
}

.google
{
background-color: #202124;
color: #96999d;
font-family: Roboto, sans-serif;
text-indent: 100px;
white-space: nowrap;
padding-top: 2px;
padding-bottom: 2px;
line-height: 25px;
}
.google .header
{
font-size: 22px;
margin-left: 100px;
margin-bottom: 0;
}
.google .regtext
{
background-color: #202124;
color: #96999d;
margin-left: 100px;
text-indent: 0px;
margin-top: 8px;
padding-top: 0;
}
.google .subtext
{
color: #6b7074;
font-size: 14px;
}
.google .subcontent
{
margin-left: inherit;
}
.google .subcontent .header
{
font-size: 22px;
margin-left: 20px;
}
.google .subcontent .regtext
{
background-color: #202124;
color: #96999d;
margin-left: 120px;
margin-top: 8px;
padding-top: 0;
}
.column
{
float: left;
width: 340px;
}
.row
{
width: 1000px;
overflow: auto;
margin-bottom: 10px;
}
.row:after
{
content: "";
display: table;
clear: both;
}
a:link
{
color: #7fa3e1;
text-decoration: none;
}
a:visited
{
color: #c589f9;
}
a:hover
{
text-decoration: underline;
}
a:active
{
color: #c589f9;
text-decoration: underline;
}