body
{
    background-color: #fffef9;
    font-family: 'Roboto Mono';
}

/* NAVBAR */
.navbar 
{
    background-color: #3D322C; 
    margin-left: 0px;
    text-indent: 15px;
    font-weight: bold;
}

/* LINK STYLE */
a.link_navbar:link { color:#FFF; text-decoration:none; font-weight:normal; }
a.link_navbar:visited { color: #FFF; text-decoration:none; font-weight:normal; }
a.link_navbar:hover { color: #FFF; text-decoration:none; font-weight:normal; }
a.link_navbar:active { color: #FFF; text-decoration:none; font-weight:normal; }

/* BOOTSTRAP OVERRIDE */
.custom_link{ color: white !important; }

/* GITHUB LOGO and LINK */
.github_logo
{
    right: 0; 
    position: absolute;
}

/* NAVBAR END */

.below_nav
{
    margin: 55px;
    margin-right: 80px;
    margin-left: 80px
}

.flex
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex_item
{
    flex: 1 1 52%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex_item.portrait
{
    flex: 2 1 auto;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 370px;
}

.name
{
    color: #F29885;
    font-family: Palatino;
}

.subtitle
{
    margin-bottom: 30px;
}

.subheader
{
    margin-bottom: 15px;
}

.social_link
{
    margin: 10px;
    text-decoration: none;
}

@media screen and (max-width: 1000px)
{
    .flex
    {
        flex-flow: column nowrap;
    }

    .flex_item
    {
        flex: 1 1 40%;
    }

    .name
    {
        margin-top: 20px;
        text-align: center;
    }

    .subtitle
    {
        margin-bottom: 30px;
        text-align: center;
    }
}

/*
.followImg
{
    position:absolute;
    transform:translate(-50%,-50%);
}*/