html
{
    height: 100%;
}
body
{
    font-family: 'Roboto Mono';
    /* background-image: url("../img/5-websites-to-download-free-subtle-textures-subtle.webp");
    background-repeat: repeat;
    background-size: 50%; */
    background-color: #fffef9;
    overflow-y: scroll;
    margin: 0;
    min-height: 100%;
}

/* NAVBAR */
.navbar 
{
    background-color: #3D322C; 
    margin-left: 0px;
    text-indent: 15px;
    font-weight: bold;
}

/* LINK STYLE */
a.link_navbar:link { color:#FFF; text-decoration:none; font-weight:normal; }
a.link_navbar:visited { color: #FFF; text-decoration:none; font-weight:normal; }
a.link_navbar:hover { color: #FFF; text-decoration:none; font-weight:normal; }
a.link_navbar:active { color: #FFF; text-decoration:none; font-weight:normal; }

a.email_link:link { color:rgb(77, 163, 189); text-decoration:none; font-weight:normal; }
a.email_link:visited { color:rgb(9, 96, 122); text-decoration:none; font-weight:normal; }
a.email_link:hover { color:rgb(186, 223, 235); text-decoration:none; font-weight:normal; }
a.email_link:active { color:rgb(186, 223, 235); text-decoration:none; font-weight:normal; }

/* BOOTSTRAP OVERRIDE */
.custom_link{ color: white !important; }

.hamburger
{
    background-color: #3D322C; 
    border: 0;
    visibility: hidden;
}

/* GITHUB LOGO and LINK */
.github_logo
{
    right: 0; 
    position: absolute;
}

/* NAVBAR END */

.below_nav
{
    margin: 55px;
    margin-right: 80px;
    margin-left: 80px;
    /* padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fffef9;
    border-style: solid;
    border-width: 2px;
    border-color: black; */
}

.flex
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex_item
{
    flex: 1 1 52%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex_item.text
{
    flex: 1 1 52%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex_item.portrait
{
    flex: 2 1 auto;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 370px;
}

.flex_item.project
{
    flex: 1 1 65%;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-left: 2px solid rgb(31, 126, 155);
    padding: 50px 0px 20px 50px;
}

.name
{
    color: #F29885;
    font-family: Palatino;
}

.name.contact
{
    color: #F29885;
    font-family: Palatino;
    margin-bottom: 20px;
}



.subtitle
{
    margin-bottom: 30px;
}

.subtitle.subproj
{
    margin-bottom: 10px;
}

.subheader
{
    margin-bottom: 15px;
}

.social_link
{
    margin: 10px;
    text-decoration: none;
}

.resume_center
{
    margin: auto;
    width: 50%;
    text-align: center;
}

.center_text
{
    margin: auto;
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
}


.contact_box
{
    /* margin-top: 12%; */
}

.resume
{
    width: 100%;
}

.dog_cursor
{
    cursor: url('../img/dog.PNG'), auto;
}

.dog_cursor_big
{
    cursor: url('../img/dog_big.PNG'), auto;
}

.dog_bowl
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 40%;
}

.is_visible
{
    visibility: visible;
}

.not_visible
{
    visibility: hidden;
}

.mad_libs
{
    background: #F29885;
    color: #5E2612;
    padding: 10px;
    visibility: hidden;
}

@media screen and (max-width: 1000px)
{
    .navbar-nav
    {
        left: -100%;
        max-height: 40px;
        visibility: hidden;     
    }

    .navbar-nav.mobile
    {
        left: 0%;
        visibility: visible;
        margin-top: 40px;
        max-height: 200px;
        animation: slide 0.2s forwards;
        transform:translateX(-100%);
    }

    @keyframes slide {
    to {
           transform:translateX(0)
        }
     }

    .nav-link.hidden
    {
        visibility: hidden;
    }

    .active {}

    .github_logo
    {
        right: 0; 
        top: 0;
    }

    .hamburger
    {
        margin-top: 5px;
        visibility: visible;
    }

    .flex
    {
        flex-flow: column nowrap;
    }

    .flex_item
    {
        flex: 1 1 40%;
    }

    .flex_item.project
    {
        flex: 1 1 65%;
        justify-content: center;
        align-items: center;
        height: 100%;
        border-left: 0px solid rgb(31, 126, 155);
        border-top: 2px solid rgb(31, 126, 155);
        padding: 20px;
    }

    .name
    {
        margin-top: 20px;
        text-align: center;
    }

    .subtitle
    {
        margin-bottom: 30px;
        text-align: center;
    }

    .subtitle.subproj
    {
        margin-bottom: 10px;
        text-align: left;
    }
}

/*
.followImg
{
    position:absolute;
    transform:translate(-50%,-50%);
}*/