<!DOCTYPE html>
<html lang="en">

<template>
    <nav class="navbar navbar-expand-lg narvar-light" style="background-color: #454959;">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link link_navbar" href="index.html">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle custom_link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Assignments
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="assignment1.html">Assignment 1 & 2: About Me</a></li>
              <li><a class="dropdown-item" href="assignment3.html">Assignment 3: Encyclopedia</a></li>
              <li><a class="dropdown-item" href="assignment4.html">Assignment 4: Challenges</a></li>
              <li><a class="dropdown-item" href="assignment5.html">Assignment 5: Challenges Redux</a></li>
            </ul>
          </li>
        </ul>
        <div style="right: 0; position: absolute;">
          <a class="navbar-brand" href="https://github.com/zacharyjbaker">
            <img src="../resources/img/GitHub-Mark-64px.PNG" width="30" alt="GitHub Octocat Icon">
          </a>
        </div>
      </nav>
</template>